@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

body {
  font-family: "Buda", sans-serif;
}

@layer base {
  :root {
    --background: #f7faff;
    --foreground: #121212;
    --card: #f4f7fd;
    --card-foreground: #121212;
    --popover: #f4f7fd;
    --popover-foreground: #121212;
    --primary: #a70909;
    --primary-foreground: #ffffff;
    --secondary: #335c67;
    --secondary-foreground: #ffffff;
    --tertiary: #e85d04;
    --tertiary-foreground: #ffffff;
    --muted: #8d99ae;
    --muted-foreground: #6b7280;
    --accent-1: #899878;
    --accent-2: #a0ddff;
    --accent-3: #bbab8b;
    --accent-4: #f4a4a6;
    --destructive: #d32f2f;
    --destructive-foreground: #ffffff;
    --border: #d1d5db;
    --input: #e0e0e0;
    --ring: #f97316;
    --radius: 0.5rem;
    --chart-1: #ff6f3c;
    --chart-2: #ffc93c;
    --chart-3: #00897b;
    --chart-4: #e63946;
    --chart-5: #ab47bc;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.5rem;
    --body-font-size: 1rem;
    --line-height: 1.5;
    --sidebar-background: #f7faff;
    --sidebar-foreground: #374151;
    --sidebar-primary: #a70909;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #ffd7a1;
    --sidebar-accent-foreground: #374151;
    --sidebar-border: #e2e8f0;
    --sidebar-ring: #335c67;
  }

  .dark {
    --background: #121212;
    --foreground: #ffffff;
    --card: #111111;
    --card-foreground: #ffffff;
    --popover: #111111;
    --popover-foreground: #ffffff;
    --primary: #cc2e3b;
    --primary-foreground: #ffffff;
    --secondary: #9dc9d5;
    --secondary-foreground: #0d0d0d;
    --tertiary: #f4f4f6;
    --tertiary-foreground: #ffffff;
    --muted: #4a5568;
    --muted-foreground: #a0aec0;
    --accent-foreground: #ffffff;
    --accent-1: #f7f7f2;
    --accent-2: #f3ffc6;
    --accent-3: #b5a886;
    --accent-4: #ffcccd;
    --destructive: #e53e3e;
    --destructive-foreground: #ffffff;
    --border: #4a5568;
    --input: #4a5568;
    --ring: #f97316;
    --chart-1: #ff6f3c;
    --chart-2: #ffc93c;
    --chart-3: #00897b;
    --chart-4: #e63946;
    --chart-5: #ab47bc;
    --sidebar-background: #121212;
    --sidebar-foreground: #edf2f7;
    --sidebar-primary: #cc2e3b;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #4a5568;
    --sidebar-accent-foreground: #edf2f7;
    --sidebar-border: #2d3748;
    --sidebar-ring: #9dc9d5;
  }

  body {
    font-family: "RedRose", sans-serif;
    font-size: var(--body-font-size);
    line-height: var(--line-height);
    color: var(--foreground);
    background-color: var(--background);
  }

  h1 {
    font-family: "Notable", sans-serif;
    font-size: var(--h1-font-size);
    color: var(--secondary);
  }

  h2 {
    font-family: "BonaNovaSC_Bold", sans-serif;
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
  }

  h3 {
    font-family: "SofiaSans", sans-serif;
    font-size: var(--h3-font-size);
    font-weight: 600;
    padding-top: 1rem;
    color: var(--foreground);
    margin-bottom: 0.5rem;
  }

  p {
    font-size: var(--body-font-size);
    line-height: var(--line-height);
    color: var(--foreground);
    margin-bottom: 1rem;
  }

  .slogan {
    font-family: "Ruthie", cursive;
    font-weight: 500;
    color: var(--foreground);
  }
}

@font-face {
  font-family: "RampartOne";
  src: url("/fonts/RampartOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SofiaSans";
  src: url("/fonts/SofiaSansExtraCondensed-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ruthie";
  src: url("/fonts/Ruthie-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RedRose";
  src: url("/fonts/RedRose-VariableFont_wght.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Notable";
  src: url("/fonts/Notable-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("/fonts/Dosis.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Corinthia";
  src: url("/fonts/Corinthia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Buda";
  src: url("/fonts/Buda-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BonaNovaSC_Bold";
  src: url("/fonts/BonaNovaSC-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h3 {
    @apply tracking-wider;
  }
}
